.article {
  border: 10px solid black;
  background-color: cadetblue;
  margin: 50px;
  width: 500px;
  box-shadow: 20px 10px 5px grey;
}

.header {
  height: 500px;
  background-color: lightblue;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
