body {
  margin: 0 auto;
  max-width: 1140px;
  background-color: aliceblue;
}
.hero-container {
  display: flex;
  gap: 40px;
  padding: 25px;
  font-size: 1.25em;
  border-radius: 25px;
  align-items: center;
  background-color: wheat;
}
.hero-container:hover {
  box-shadow: 1px 1px 20px black;
}
.hero-container button {
  font-size: 1em;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: aquamarine;
}
.hero-container button:hover {
  color: white;
  background-color: greenyellow;
}
.hero-container img {
  width: 100%;
  height: 400px;
  border-radius: 25px;
}
