* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#card-section {
  max-width: 80%;
  margin: 0 auto;
}

#card-section .heading {
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  text-shadow: 1px 1px 5px tomato;
}

#card-section .card-content {
  margin-top: 20px;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

#card-section .card {
  max-width: 300px;
  border-radius: 10px;
  background-color: aliceblue;
}

#card-section .card:hover {
  box-shadow: 1px 1px 10px black;
}

#card-section .card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

#card-section .card img:hover {
  transform: scale(1.01);
}

#card-section .card .card-in {
  padding: 10px;
}
#card-section .card .card-in h4 {
  margin-bottom: 5px;
}

#card-section .card .card-in p {
  font-weight: 400;
  line-height: 1.3;
  text-align: justify;
}
